.slidecontainer {
    margin-top: 1rem;
    text-align: center;
}
.btn {
    background: #182B49 !important;
    border-color: #747678 !important;
}
.active{
    background: white !important;
    color: black !important;
}
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04224f;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

.logo-collab {
    width:auto;
    height:60px;
}

#graph {
    height: 25rem;
    margin: 0 auto; 
}

#map {
    height: 100%;        
    margin: 0 auto; 
}

#states-line {
    height: 20rem;
    margin: 0 auto; 
}

#states-line {
    height: 20rem;
    margin: 0 auto;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#uc-emergency > .alert {
    margin-bottom: 0px !important;
}
#uc-emergency > .alert-warning-banner {
    background-color: #c69214;
    color: #000 !important;
    border-color: transparent;
    border-radius: 0;
    text-align: center;
}
#uc-emergency > .alert-warning-banner a {
    color: #000 !important;
    border-color: #000 !important;
}
#uc-emergency > a.alert-link:hover {
    text-decoration: none;
}
#uc-emergency > .alert .text-link {
    border-color: #000 !important;
    border-bottom: 1px solid #000;
    font-size: 16px;
}
#uc-emergency > .no-hero {
    margin: 18.5em 0 3em;
}
#uc-emergency > .row.spacer {
    margin-top: 95px;
}
@media only screen and (max-width: 990px) {
    #uc-emergency > .row.spacer {
        margin-top: 190px;
    }
}
@media only screen and (max-width: 768px) {
    #uc-emergency > .layout-title {
        position: relative;
    }
}

@media only screen and (max-width: 1200px) {
    #states-line {
        width: 80% !important;
        align-content: center;
        float:center;
    }
  }

@media only screen and (max-width: 576px) {
    #footer-page {
        width: 100% !important;
        display: none;
    }

    #footer-padder {
        display: none;
    }

    #about-section > div {
        padding: 0px 0px 0px 0px !important;
    }

    #states-line {
        width: 100% !important;
    }

    #graph {
        width: 100% !important;
    }
}